:root {
  --marginBox: 5px 0 5px 15px;
  --fontFamily: "Gill Sans", sans-serif;
  --widthBag: 350px;
  --paddingDag: 5px 15px 20px 15px;
}

%tplForCount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 15px;
  padding: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(233, 133, 2);
  color: white;
  font-size: 11px;
  cursor: default;
}

.header__bag-count {
  margin: -40px 0 0 20px;
  z-index: 1;
  cursor: pointer;
  @extend %tplForCount;
}

.product__count-hidden {
  display: none;
}

.shopping-cart {
  height: 25px;
  cursor: pointer;
}

.shopping-cart-img {
  width: 25px;
  height: 25px;
  z-index: -1;
}

.shopping-cart-img:hover {
  cursor: pointer;
}

.product__item-bag {
  display: flex;
  flex: content;
  margin: 10px 0;
}

.img-forbag-img {
  width: 120px;
  height: 75px;
  border-radius: 5px;
}

.product__box {
  margin: 0 15px;
  width: 150px;
}

.product__box__name {
  color: rgb(44, 172, 189);
  font-weight: 500;
  font-size: 16px;
}

.product__box__price {
  color: rgb(44, 172, 189);
  margin: 5px 0;
  font-size: 13px;
}

.product__box__price span {
  margin: 0 5px;
}

.product__box__remove {
  color: rgb(163, 132, 29);
  margin: 15px 0 0 0;
  width: 60px;
  cursor: pointer;
  font-size: 12px;
  bottom: 0;
  text-align: center;
  opacity: 0.8;
  font-weight: 400;
}

.product__value__count {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__more,
.product__valueInput-inbag,
.product__less {
  text-align: center;
}

.product__more-img:hover,
.product__less-img:hover {
  background: #ffffff;
  border-radius: 60%;
  cursor: pointer;
  transition-duration: 0.3s;
}

.bag {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 100vh;
}

.bag__opacity {
  width: 100%;
  height: 100vh;
  background: rgb(43, 42, 42);
  opacity: 0.5;
}

.bag__basket {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: rgb(40, 143, 202);
  font-family: var(--fontFamily);
  top: 0;
  right: 0;
  width: var(--widthBag);
  height: 100vh;
  padding: var(--paddingDag);
  background: var(--BG);
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-name: basket;
}

@keyframes basket {
  0% {
    right: -25%;
  }

  100% {
    right: 0%;
  }
}

.bag_close-img {
  margin: var(--marginBox);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.bag__your {
  font-size: 22px;
  color: rgb(40, 143, 202);
  margin: var(--marginBox);
  text-align: center;
}

.bag__product {
  margin: var(--marginBox);
  min-height: 300px; //overflow-y: scroll;
}

.bag__price {
  display: flex;
  flex: content;
  justify-content: center;
  align-items: flex-end;
  margin: var(--marginBox);
}

.bag__totall__text,
.bag__totall__price,
.bag__currency {
  font-size: 25px;
  height: 30px;
  margin: 0 0 15px 0;
}

.bag__totall__price {
  margin: 0 5px 15px 5px;
}

.bag__button {
  display: none;
  margin: 0 0 25px 15px;
  min-width: 180px;
  border: none;
  height: 30px;
  border-radius: 3px;
  background: rgb(224, 143, 20);
  cursor: pointer;
}

.bag__button:hover {
  background: rgb(173, 105, 2);
  color: rgb(240, 234, 226);
  transition-duration: 0.4s;
}
